{% load i18n %}
{% extends "blog/base.html" %}
{% load murphymarkup.murphymarkup%}
{% load comments.comments %}

{% block content %}

<h1>{%trans "Preview your comment" %}</h1>

<form action="/blog/postfreecomment/" method="post">
        {% if comment_form.has_errors %}
            <p><strong style="color: red;">Please correct the following errors.</strong></p>
        {% else %}
            <div class="comment">
            <p class="date small">{% blocktrans with comment.person_name as pname%}Posted by <strong>{{ pname }}</strong>{% endblocktrans %}</p>
            {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
            </div>

            <p><input type="submit" name="post" value="{%trans "Post public comment"%}" /></p>

            <h1>{% trans "Or edit it again" %}</h1>
        {% endif %}

        {% if comment_form.person_name.errors %}
            {{ comment_form.person_name.html_error_list }}
        {% endif %}

        <p><label for="id_person_name">{%trans "Your name:"%} </label> {{ comment_form.person_name }}</p>

        {% if comment_form.comment.errors %}
                {{ comment_form.comment.html_error_list }}
        {% endif %}

        <p>
                <label for="id_comment">{%trans "Comment:"%} </label>
                <br />
                {{ comment_form.comment }}
        </p>
        
        <input type="hidden" name="options" value="{{ options }}" />
        <input type="hidden" name="target" value="{{ target }}" />
        <input type="hidden" name="gonzo" value="{{ hash }}" />
        
        <p>
                <input type="submit" name="preview" value="{%trans "Preview revised comment" %}"/>
        </p>
</form>

{% endblock %}
